<%- include('partials/header') %>
<div class="row">
    <% posts.forEach(post => { %>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="/post/<%= post.id %>">
                    <img src="<%= post.featuredImage %>" class="card-img-top" alt="<%= post.title %>" style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="/post/<%= post.id %>" class="text-dark text-decoration-none"><%= post.title %></a></h5>
                    <p class="card-text"><small class="text-muted">作者: <%= post.username %></small></p>
                </div>
            </div>
        </div>
    <% }) %>
</div>
<%- include('partials/footer') %>